In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('smoking_health_data_final.csv')
data.head()

   age   sex current_smoker  heart_rate blood_pressure  cigs_per_day   chol
0   54  male            yes          95         110/72           NaN  219.0
1   45  male            yes          64         121/72           NaN  248.0
2   58  male            yes          81       127.5/76           NaN  235.0
3   42  male            yes          90       122.5/80           NaN  225.0
4   42  male            yes          62         119/80           NaN  226.0

In [5]:
data.describe(include='all')

,age,sex,current_smoker,heart_rate,blood_pressure,cigs_per_day,chol
count,3900.000000,3900,3900,3900.000000,3900,3886.000000,3893.000000
unique,NaN,2,2,NaN,2317,NaN,NaN
top,NaN,female,no,NaN,130/80,NaN,NaN
freq,NaN,2081,1968,NaN,18,NaN,NaN
mean,49.537949,NaN,NaN,75.688974,NaN,9.168554,236.595941
std,8.559275,NaN,NaN,12.015376,NaN,12.037999,44.375365
min,32.000000,NaN,NaN,44.000000,NaN,0.000000,113.000000
25%,42.000000,NaN,NaN,68.000000,NaN,0.000000,206.000000
50%,49.000000,NaN,NaN,75.000000,NaN,0.000000,234.000000
75%,56.000000,NaN,NaN,82.000000,NaN,20.000000,263.000000
max,70.000000,NaN,NaN,143.000000,NaN,70.000000,696.000000